.jumbotron {
    background-color:black;
    color:ghostwhite;
}
.btn{
    color:white;
    background-color: grey;
}

footer{
    padding: 10px 10px 10px;
    background-color: black;
    color: ghostwhite;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-uefa {
    flex:  1 180px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;

}

.btn-ver{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 20px;
}
