@black:#000000;

.margenes (@top:0px,@bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color:@black;
    color: ghostwhite;
    .margenes(50px, 0px)
}
  
  .btn {
    color: white;
    background-color: grey; }
  
  footer {
    padding: 10px 10px 10px;
    background-color: @black;
    color: ghostwhite;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .card-uefa {
    flex: 1 180px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-ver {
    width: 100%;
    border-radius: 0px; }
  
  .tab-content {
    padding-top: 20px; }