.jumbotron {
  background-color: #000000;
  color: ghostwhite;
  margin-top: 50px;
  margin-bottom: 40px;
}

.btn {
  color: white;
  background-color: grey;
}

footer {
  padding: 10px 10px 10px;
  background-color: #000000;
  color: ghostwhite;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-uefa {
  flex: 1 180px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-ver {
  width: 100%;
  border-radius: 0px;
}

.tab-content {
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
